body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#menu {
    position: absolute;
    z-index: 1;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: white;
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    overflow: hidden;
}

#faculty-menu {
    font-weight: 700;
}

label {
    padding: 0px;
    margin: 10px 0px 10px 20px;
}